player-connection-mode=Listen
player-connection-guid=2302622242
player-connection-debug=1
player-connection-project-name=Inventory_Test
player-connection-ip=172.16.74.37
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9301cefe76a74a849db8c45f86b63ed2
